
*.yaml
Bill Splitter/.idea/vcs.xml
Bill Splitter/course-remote-info.yaml
Bill Splitter/Topics/Exception handling/Theory/task-remote-info.yaml
Bill Splitter/Topics/Exception handling/Zero/task-remote-info.yaml
*.storageData
*.storageRecordIndex
Bill Splitter/course-info.yaml
Bill Splitter/course-remote-info.yaml
Bill Splitter/Bill Splitter/task/__pycache__/billsplitter.cpython-37.pyc
Bill Splitter/course-remote-info.yaml
